* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.PageContainer {
	width: 100vw;
	height: 100vh;
	background-image: url("img/5750016.jpg");
	background-size: 1512px 921px;
}

.dark .PageContainer {
	width: 100vw;
	height: 100vh;
	background-image: url("img/5486285.jpg");
	background-size: 1512px 921px;
}

.ContentContainer {
	width: 100vw;
	height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark .ContentContainer {
	width: 100vw;
	height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark .Btn:hover {
	background-color: #698D9D;
}

.dark .message {
	color: white;
}