.Btn {
	font-size: 20px;
	line-height: 1;
	border-radius: 8px;
	border: 1px solid transparent;
	min-width: 160px;
	min-height: 30px;
	font-family: Kalam;
	font-style: bold;
	font-weight: 700;
	padding: 8px;
	background-color: white;
	color: #000000;
	box-shadow: 1px 2px 0px 3px #000;
}

.Btn:hover {
	background-color: #FF651E;

}

.message {
	color: black;
}